{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container mt-4">
            <h2>Welcome on the home page</h2>
        </div>
    </div>



{% endblock %}