{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
    <div>
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        {{ form_end(our_form) }}
    </div>
{% endblock %}
